@import "tailwindcss";

@theme {
  --color-primary: #7695ff;
  --color-secondary: #efefef;
  --color-main: #8d7b68;
  --color-accent: #c8b6a6;
  --color-danger: #e07a5f;
  --color-warning: #f2cc8f;
  --color-white: #ffffff;
  --color-black: #000000;
}